## OSY SugarCRM
# Ignore custom .htaccess stuff.
#/.htaccess
# Ignore the cache directory completely.
# This will break the current behaviour. Which was often leading to
# the misuse of the repository as backup replacement.
# For development the cache directory can be safely ignored and
# therefore it is ignored.
/cache/*
# Ignore some files and directories from the custom directory.
/custom/blowfish/
/custom/history/
/custom/modulebuilder/
/custom/working/
/custom/modules/*/Ext/
/custom/application/Ext/*
# in questa directory vengono messe delle immagini di upload,
# non ha senso tenerle sotto git
/custom/images
# Custom configuration should also be ignored.
/config.php
/config_override.php
# The silent upgrade scripts aren't needed.
#/silentUpgrade*.php
# Logs files can safely be ignored.
/*.log
# Ignore the new upload directories.
/upload/
/upload_backup/
/upload:/
/*~
/.project
/.idea/
## IDE specific items
# Eclipse
*.pydevproject
.project
.buildpath
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
# IntelliJ Idea
*.iml
*.ipr
*.iws
.idea/
# NetBeans
nbproject/
# Vim
.*.sw[a-z]
*.un~
Session.vim
# Windows
Thumbs.db
Desktop.ini
/vendor/
/.htaccess


